// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// for the icon fonts to work
// @import "bootstrap-sprockets";
@import "bootstrap";

// Ref:  https://github.com/rafaelfranca/simple_form-bootstrap/blob/master/app/assets/stylesheets/application.css.scss
@import "github";

body {
  padding-top: 10px;
  background-color: #ddd;
  margin: 20px;
}

.p-status {
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #EFEFEF;
  padding-left: 5px;
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: yellowgreen; //#f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

/* Extending the Bootrstrap classes to cover all possible Flash types */
/*
.alert-alert {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-warning;
}*/
